<div class="content-container">
    <div class="title-container">
        <div class="logo-container"></div>
        <h2>Live Data Plotting</h2>
    </div>
    <div class="canvas-container">
        <canvas id="myChart"></canvas>
    </div>
    <div class="legend-container">
        <div class="legend-item"><span class="orange circle"></span>Decksuit +
            <div class="vesta-text"></div>
        </div>
        <div class="legend-item"><span class="blue circle"></span>Decksuit</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script type="text/javascript">

    var ctx = document.getElementById('myChart').getContext('2d');
    var mostRecentData;

    grdBlue = ctx.createLinearGradient(150.000, 0.000, 150.000, 300.000);

    grdBlue.addColorStop(0.000, 'rgba(0, 165, 255, 0.800)');
    grdBlue.addColorStop(1.000, 'rgba(0, 165, 255, 0.1)');

    grdOrange = ctx.createLinearGradient(150.000, 0.000, 150.000, 300.000);

    grdOrange.addColorStop(0.000, 'rgba(255, 116, 53, 0.800)');
    grdOrange.addColorStop(1.000, 'rgba(255, 116, 53, 0.1)');

    var chart;

    $.get('data', (data) => {
        mostRecentData = data;
        console.log(data);
        chart = new Chart(ctx, {
            type: 'line',

            // The data for our dataset
            data: {
                labels: data.timeArray,
                datasets: [{
                    label: "My First dataset",
                    backgroundColor: grdBlue,
                    borderColor: '#00A5FF',
                    borderWidth: 3,
                    pointRadius: 0,
                    data: data.noVestaArray,
                }, {
                    label: "My Second dataset",
                    backgroundColor: grdOrange,
                    borderColor: '#FF7435',
                    borderWidth: 3,
                    pointRadius: 0,
                    data: data.hasVestaArray,
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            color: "rgba(255,255,255,0.3)",
                            borderDash: [1, 4],
                            drawBorder: false
                        },
                        position: "right",
                        ticks: {
                            fontFamily: "Nunito Sans",
                            fontSize: "20",
                            fontColor: "rgba(255,255,255,0.6)",
                            callback: function (value, index, values) {
                                return '  ' + value + ' °C';
                            },
                            stepSize: 2
                        }
                    }],
                    xAxes: [{
                        display: false

                    }]
                }
            }
        });

    })

    function addData(chart, label, noVesta, hasVesta) {
        chart.data.labels.push(label);
        chart.data.datasets[0].data.push(noVesta);
        chart.data.datasets[1].data.push(hasVesta);
        chart.update();
    }

    setInterval(() => {
        $.get('data', (data) => {
            console.log(chart.data.labels.length);
            if (data.timeArray[data.timeArray.length - 1] != mostRecentData.timeArray[data.timeArray.length - 1]) {
                addData(chart, data.timeArray[data.timeArray.length - 1], data.noVestaArray[data.noVestaArray.length - 1], data.hasVestaArray[data.hasVestaArray.length - 1])
                mostRecentData = data;
            }
        })
    }, 500);

</script>